#dropdownMenubrand,
#dropdownMenumodel,
#dropdownMenuYear {
  background-color: #f7b7b6;
  height: 15em;
  overflow-y: scroll;
}
#btn {
  background-color: #090c02;
  color: #72ddf7;
  border: 1px solid black;
  width: 5em;
  margin-right: 0;
}
#btndropdown {
  border: 1px solid black;
}
#button-group {
  padding: 1em;
  width: 15em;
}
.container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 769px) {
  #container {
    width: fit-content;
    flex-direction: column;
  }
}
@media screen and (max-width: 426px) {
  #button-group {
    margin-left: 7em;
  }
}
@media screen and (max-width: 426px) {
  .container {
    flex-direction: column;
  }
}
.title {
  background-color: #090c02;
  color: #72ddf7;
  border-radius: 15px 0 15px 0;
  text-align: center;
}
.card {
  margin: 1em;
  background-color: #dbe4ee;
  border-radius: 50px;
}
p {
  font-weight: 600;
}
span {
  color: #8a2be2;
}
header {
  text-align: center;
}
body {
  color: #090c02;
}
label {
  font-weight: 600;
}
